<div>
    <nav class="navbar navbar-static-top">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item">
                        <a id="benefits-link" class="nav-link"
                           href="">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
