<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/base/head.ejs %>
  </head>
  <body>
    <% include partials/base/nav.ejs %>
    <% include partials/bodies/home.ejs %>
    <% include partials/base/footer.ejs %>
  </body>
</html>
